In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'2.0.3'

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
df_total = pd.read_csv('yellow_tripdata_2021-01.csv', dtype='unicode')

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

0

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [10]:
n = 0
rowcount = len(df_total.index)

print('%.d rows to be inserted...' % (rowcount))

for item in df_iter:
    
    chunkcount = len(item.index)
    t_start = time()
    
    item.tpep_pickup_datetime = pd.to_datetime(item.tpep_pickup_datetime)
    item.tpep_dropoff_datetime = pd.to_datetime(item.tpep_dropoff_datetime)
    
    item.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    
    t_end = time()
    n = n+1
    
    print('Chunk %.d with %.d rows inserted, took %.3f seconds...' % (n, chunkcount, t_end - t_start))

1369765 rows to be inserted...
Chunk 1 with 100000 rows inserted, took 5.720 seconds...
Chunk 2 with 100000 rows inserted, took 5.523 seconds...
Chunk 3 with 100000 rows inserted, took 6.006 seconds...
Chunk 4 with 100000 rows inserted, took 5.949 seconds...
Chunk 5 with 100000 rows inserted, took 5.898 seconds...
Chunk 6 with 100000 rows inserted, took 5.680 seconds...
Chunk 7 with 100000 rows inserted, took 5.722 seconds...
Chunk 8 with 100000 rows inserted, took 5.620 seconds...
Chunk 9 with 100000 rows inserted, took 5.744 seconds...
Chunk 10 with 100000 rows inserted, took 5.585 seconds...
Chunk 11 with 100000 rows inserted, took 5.665 seconds...
Chunk 12 with 100000 rows inserted, took 5.518 seconds...

C:\Users\wooji\AppData\Local\Temp\ipykernel_51696\3365816966.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for item in df_iter:

Chunk 13 with 100000 rows inserted, took 5.494 seconds...
Chunk 14 with 69765 rows inserted, took 3.679 seconds...